/*Botones barra lateral*/
.btnLateral {
    -fx-background-color: #393351;
    -fx-background-radius:  30 0 0 30;
    -fx-cursor: hand;
}
.btnLateral:hover {
    -fx-background-color: #524A7B;
    -fx-background-radius:  30 0 0 30;
}
.btnLateral:pressed {
    -fx-background-color: #2F2B43;
    -fx-background-radius:  30 0 0 30;
}
/*Botón barra lateral de la vista actual*/
.btnVistaActual {
    -fx-background-color:  #2F2B43;
    -fx-background-radius:  30 0 0 30;
}

/*RESERVAS*/
/*ComboBox*/
.reservas-combo-box {
    -fx-font-size: 16px;
    -fx-prompt-text-fill: white;
}

.reservas-combo-box .cell {
    -fx-text-fill: #2D75E8;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #393351;
}

.reservas-combo-box .list-view .list-cell:filled:hover{
    -fx-background-color: #FF83A7;
}
/*Tabla*/
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size: 20;
    -fx-background-color: #2D75E8;
}
.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.table-view .cell{
    -fx-cell-size: 30;
    -fx-alignment: center;
}

.table-view .observaciones-cell {
    -fx-alignment: center-left;
}

.table-row-cell:selected {
    -fx-background-color:  #7FACF3;
}

.table-row-cell:selected .text {
    -fx-fill : white ;
}

/*NUEVA RESERVA*/
/*ComboBox en formulario*/
.form-combo-box {
    -fx-font-size: 14px;
}

/*NUEVO EVENTO*/
/*Date Picker en formulario*/
.date-picker {
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #4d4d4d;
}

.date-picker .text-field {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: #4d4d4d;
    -fx-font-size: 14px;
}

.date-picker:focused {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #393351;
}

.date-picker:editable .arrow-button > * {
    -fx-opacity: 0;
}

.date-picker .arrow-button {
    -fx-background-image: url("../images/baseline_today_black_48dp.png");
    -fx-background-size: 60% 60%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-color: transparent;
}

/*Spinner en formulario*/
.spinner {
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #4d4d4d;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: transparent;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #4d4d4d;
    -fx-font-size: 10px;
}

.spinner:focused {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #393351;
}

.spinner .text-field {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
}

/*CHART PIE en HOME*/
.chart-pie {
    -fx-border-color: transparent;
}

.data0.chart-pie {
    -fx-pie-color: #FF004B;
}
.data1.chart-pie {
    -fx-pie-color: #2D75E8;
}

.chart-pie-label {
    -fx-font-size: 14px;
    -fx-fill: white;
}
.chart-legend {
    -fx-font-size: 14px;
    -fx-background-color: white;
}
